.nav {
	font-family: arial;
	font-size: 18px;
	list-style-type: none;
	padding-bottom: 20px;
}

.nav li {
	float: left;
}

.nav a {
	color: grey;
	text-decoration: none;
	background-color: #f7f7f7;
	padding: 10px;
	margin: 10px;
}

.nav a:hover {
	text-decoration: underline;
	color: black;
}

.nav .active a {
	color: black;
	text-decoration: none !important;
	cursor: default;
	background-color: lightgrey;
}